/** base style **/
@font-face {
  font-family: 'SansGBW3573194';
  src: url("../font/SansGBW3.eot");
  src: url("../font/SansGBW3.eot?#iefix") format("embedded-opentype"), url("../font/SansGBW3.woff") format("woff"), url("../font/SansGBW3.ttf") format("truetype"), url("../font/SansGBW3.svg#SansGBW3") format("svg");
  font-weight: normal;
  font-style: normal; }
* {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

a, a:hover {
  text-decoration: none; }

html {
  font-size: 1rem; }

body {
  background: url("../images/bg.jpg");
  background-size: cover;
  box-sizing: border-box;
  background-color: #dc1830; }

.container {
  margin: 0 auto;
  position: relative;
  width: 100%;
  left: 0;
  text-align: center;
  padding-bottom: 3.5rem;
  overflow-y: scroll;
  overflow-x: hidden;
  font-family: 'SansGBW3573194'; }
  .container .top {
    height: 7rem; }
    .container .top .top-center {
      background: url("../images/top-center.jpg") no-repeat center 0;
      background-size: contain;
      width: 100%;
      height: 14rem;
      position: absolute;
      top: 0;
      z-index: 0; }
    .container .top:before {
      content: '';
      background: url("../images/top-leaves.png") no-repeat 0 0;
      background-size: contain;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 2rem;
      z-index: 1; }
    .container .top .balloon-box {
      position: absolute;
      width: 100%;
      height: 14rem;
      background: url("../images/balloon.png") no-repeat center 0;
      background-size: contain; }
  .container .index-top {
    height: 14rem; }
  .container .rule-top {
    height: 3rem; }
  .container .content-box {
    background: url("../images/my-prize-bg.png") no-repeat center 100%;
    background-size: cover;
    width: 90%;
    margin: 0 auto;
    padding: 1rem; }
    .container .content-box .title {
      display: inline-block;
      margin: 1rem 0 3rem;
      padding: 0 1rem;
      line-height: 2;
      border: 1px solid #dc1830;
      color: #dc1830;
      border-radius: 5px;
      font-weight: bolder;
      letter-spacing: 2px; }
    .container .content-box .table {
      font-size: 1rem;
      width: 100%; }
      .container .content-box .table .tr {
        color: #990000;
        line-height: 2.4; }
        .container .content-box .table .tr.label {
          color: #dc1830;
          font-weight: bolder;
          line-height: 3; }
        .container .content-box .table .tr .td {
          white-space: nowrap; }
    .container .content-box .desc {
      color: #990000;
      margin: 3rem 0 1rem;
      font-size: .8rem;
      white-space: nowrap; }
      .container .content-box .desc span {
        display: block; }
  .container .rule-box .title {
    margin: 0 0 1rem;
    font-size: 1rem; }
  .container .rule-box p {
    font-size: 1rem;
    text-align: justify;
    line-height: 2;
    color: #990000; }
  .container .rule-box table {
    color: #dc1830;
    width: 100%;
    font-size: 1rem;
    line-height: 2;
    text-align: center;
    border: 1px solid #dc1830;
    border-bottom: none;
    margin: .5rem auto; }
    .container .rule-box table tr td {
      border-right: 1px solid #dc1830;
      border-bottom: 1px solid #dc1830; }
      .container .rule-box table tr td:last-child {
        border-right: none; }
  .container .desc-box {
    font-size: .8rem;
    padding: 0 1rem;
    position: absolute;
    margin-top: -3rem;
    width: 100%; }
    .container .desc-box .statistical {
      color: #ffffff; }
      .container .desc-box .statistical .left {
        float: left; }
      .container .desc-box .statistical .right {
        float: right; }
    .container .desc-box .desc {
      position: absolute;
      width: 100%;
      text-align: center;
      color: #fff;
      margin-top: 1.5rem; }
    .container .desc-box .notice-board {
      margin-top: 3rem;
      font-size: 1rem; }
      .container .desc-box .notice-board .box {
        display: inline-block;
        width: 17rem;
        height: 2.6rem;
        line-height: 2rem;
        padding: .3rem 1rem;
        color: #ffff99;
        background: url("../images/border-oringe.png") no-repeat center center;
        background-size: contain; }
  .container .lottery-outer-box {
    width: 22.2rem;
    height: 22.2rem;
    margin: 3rem auto 0;
    background: url("../images/lottery-bg.jpg") no-repeat center center;
    background-size: contain;
    padding: .6rem;
    border-radius: 8px;
    overflow: hidden; }
    .container .lottery-outer-box tr, .container .lottery-outer-box td {
      vertical-align: top; }
    .container .lottery-outer-box img {
      width: 100%; }
    .container .lottery-outer-box .lottery-unit {
      width: 3.5rem;
      height: 3.5rem; }
      .container .lottery-outer-box .lottery-unit.active {
        border: .25rem solid #dc1830; }
    .container .lottery-outer-box .lottery-inner-box {
      width: 14rem;
      height: 14rem;
      overflow: hidden;
      padding: 0.5rem;
      background: url("../images/lottery-inner-border-bg.png") no-repeat center center;
      background-size: contain;
      background-color: #dc1830; }
      .container .lottery-outer-box .lottery-inner-box .lottery-unit {
        width: 3.25rem;
        height: 3.25rem; }
    .container .lottery-outer-box:after {
      content: '';
      width: 18rem;
      position: absolute;
      height: 2rem;
      background: url("../images/prize-box-bottom.png") no-repeat center 0;
      background-size: contain;
      left: 50%;
      margin-left: -9rem;
      margin-top: .5rem; }
    .container .lottery-outer-box .lottery-unit-0 {
      background: url("../images/icons.jpg") repeat;
      background-position-x: center;
      background-position-y: 0%;
      background-size: 100% 3200%; }
    .container .lottery-outer-box .lottery-unit-1 {
      background: url("../images/icons.jpg") repeat;
      background-position-x: center;
      background-position-y: -100%;
      background-size: 100% 3200%; }
    .container .lottery-outer-box .lottery-unit-2 {
      background: url("../images/icons.jpg") repeat;
      background-position-x: center;
      background-position-y: -200%;
      background-size: 100% 3200%; }
    .container .lottery-outer-box .lottery-unit-3 {
      background: url("../images/icons.jpg") repeat;
      background-position-x: center;
      background-position-y: -300%;
      background-size: 100% 3200%; }
    .container .lottery-outer-box .lottery-unit-4 {
      background: url("../images/icons.jpg") repeat;
      background-position-x: center;
      background-position-y: -400%;
      background-size: 100% 3200%; }
    .container .lottery-outer-box .lottery-unit-5 {
      background: url("../images/icons.jpg") repeat;
      background-position-x: center;
      background-position-y: -500%;
      background-size: 100% 3200%; }
    .container .lottery-outer-box .lottery-unit-6 {
      background: url("../images/icons.jpg") repeat;
      background-position-x: center;
      background-position-y: -600%;
      background-size: 100% 3200%; }
    .container .lottery-outer-box .lottery-unit-7 {
      background: url("../images/icons.jpg") repeat;
      background-position-x: center;
      background-position-y: -700%;
      background-size: 100% 3200%; }
    .container .lottery-outer-box .lottery-unit-8 {
      background: url("../images/icons.jpg") repeat;
      background-position-x: center;
      background-position-y: -800%;
      background-size: 100% 3200%; }
    .container .lottery-outer-box .lottery-unit-9 {
      background: url("../images/icons.jpg") repeat;
      background-position-x: center;
      background-position-y: -900%;
      background-size: 100% 3200%; }
    .container .lottery-outer-box .lottery-unit-10 {
      background: url("../images/icons.jpg") repeat;
      background-position-x: center;
      background-position-y: -1000%;
      background-size: 100% 3200%; }
    .container .lottery-outer-box .lottery-unit-11 {
      background: url("../images/icons.jpg") repeat;
      background-position-x: center;
      background-position-y: -1100%;
      background-size: 100% 3200%; }
    .container .lottery-outer-box .lottery-unit-12 {
      background: url("../images/icons.jpg") repeat;
      background-position-x: center;
      background-position-y: -1200%;
      background-size: 100% 3200%; }
    .container .lottery-outer-box .lottery-unit-13 {
      background: url("../images/icons.jpg") repeat;
      background-position-x: center;
      background-position-y: -1300%;
      background-size: 100% 3200%; }
    .container .lottery-outer-box .lottery-unit-14 {
      background: url("../images/icons.jpg") repeat;
      background-position-x: center;
      background-position-y: -1400%;
      background-size: 100% 3200%; }
    .container .lottery-outer-box .lottery-unit-15 {
      background: url("../images/icons.jpg") repeat;
      background-position-x: center;
      background-position-y: -1500%;
      background-size: 100% 3200%; }
    .container .lottery-outer-box .lottery-unit-16 {
      background: url("../images/icons.jpg") repeat;
      background-position-x: center;
      background-position-y: -1600%;
      background-size: 100% 3200%; }
    .container .lottery-outer-box .lottery-unit-17 {
      background: url("../images/icons.jpg") repeat;
      background-position-x: center;
      background-position-y: -1700%;
      background-size: 100% 3200%; }
    .container .lottery-outer-box .lottery-unit-18 {
      background: url("../images/icons.jpg") repeat;
      background-position-x: center;
      background-position-y: -1800%;
      background-size: 100% 3200%; }
    .container .lottery-outer-box .lottery-unit-19 {
      background: url("../images/icons.jpg") repeat;
      background-position-x: center;
      background-position-y: -1900%;
      background-size: 100% 3200%; }
    .container .lottery-outer-box .lottery-unit-20 {
      background: url("../images/icons.jpg") repeat;
      background-position-x: center;
      background-position-y: -2000%;
      background-size: 100% 3200%; }
    .container .lottery-outer-box .lottery-unit-21 {
      background: url("../images/icons.jpg") repeat;
      background-position-x: center;
      background-position-y: -2100%;
      background-size: 100% 3200%; }
    .container .lottery-outer-box .lottery-unit-22 {
      background: url("../images/icons.jpg") repeat;
      background-position-x: center;
      background-position-y: -2200%;
      background-size: 100% 3200%; }
    .container .lottery-outer-box .lottery-unit-23 {
      background: url("../images/icons.jpg") repeat;
      background-position-x: center;
      background-position-y: -2300%;
      background-size: 100% 3200%; }
    .container .lottery-outer-box .lottery-unit-24 {
      background: url("../images/icons.jpg") repeat;
      background-position-x: center;
      background-position-y: -2400%;
      background-size: 100% 3200%; }
    .container .lottery-outer-box .lottery-unit-25 {
      background: url("../images/icons.jpg") repeat;
      background-position-x: center;
      background-position-y: -2500%;
      background-size: 100% 3200%; }
    .container .lottery-outer-box .lottery-unit-26 {
      background: url("../images/icons.jpg") repeat;
      background-position-x: center;
      background-position-y: -2600%;
      background-size: 100% 3200%; }
    .container .lottery-outer-box .lottery-unit-27 {
      background: url("../images/icons.jpg") repeat;
      background-position-x: center;
      background-position-y: -2700%;
      background-size: 100% 3200%; }
    .container .lottery-outer-box .lottery-unit-28 {
      background: url("../images/icons.jpg") repeat;
      background-position-x: center;
      background-position-y: -2800%;
      background-size: 100% 3200%; }
    .container .lottery-outer-box .lottery-unit-29 {
      background: url("../images/icons.jpg") repeat;
      background-position-x: center;
      background-position-y: -2900%;
      background-size: 100% 3200%; }
    .container .lottery-outer-box .lottery-unit-30 {
      background: url("../images/icons.jpg") repeat;
      background-position-x: center;
      background-position-y: -3000%;
      background-size: 100% 3200%; }
    .container .lottery-outer-box .lottery-unit-31 {
      background: url("../images/icons.jpg") repeat;
      background-position-x: center;
      background-position-y: -3100%;
      background-size: 100% 3200%; }
    .container .lottery-outer-box .prize-center-box {
      background: url("../images/lottery-inner-bg.jpg") no-repeat center center;
      background-size: contain;
      vertical-align: bottom; }
      .container .lottery-outer-box .prize-center-box .shaking-box {
        width: 3.2rem;
        height: 3.2rem;
        border-radius: 50%;
        background-color: #ecec48;
        margin: 0 auto;
        overflow: hidden; }
        .container .lottery-outer-box .prize-center-box .shaking-box img {
          width: 2.5rem;
          margin: .3rem 0 0 0; }
  .container .btn-box {
    width: 90%;
    padding: 0;
    margin: 2rem auto 0;
    height: 2rem; }
    .container .btn-box .btn {
      width: 33.3%;
      height: 2rem;
      float: left; }
      .container .btn-box .btn img {
        height: 2rem;
        width: auto; }
    .container .btn-box .btn-1 {
      background: url("../images/btn-home.png") no-repeat center center;
      background-size: contain; }
    .container .btn-box .btn-2 {
      background: url("../images/btn-my-prize.png") no-repeat center center;
      background-size: contain; }
    .container .btn-box .btn-3 {
      background: url("../images/btn-desc.png") no-repeat center center;
      background-size: contain; }

.tip-box {
  position: fixed;
  z-index: 9;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  display: none; }
  .tip-box .close {
    color: #feedd5;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.5);
    width: 2.6rem;
    height: 2.6rem;
    border-radius: 50%;
    font-size: 1.6rem;
    line-height: 2.6rem;
    right: -1.3rem;
    top: -0.5rem; }
  .tip-box .tip {
    position: absolute;
    width: 22rem;
    height: 25.45rem;
    top: 50%;
    left: 50%;
    margin: -15rem 0 0 -11rem;
    background: url("../images/prize-show-bg.png") no-repeat center center;
    background-size: contain;
    text-align: center; }
    .tip-box .tip .title {
      background: url("../images/prize-show-title.png") no-repeat center center;
      background-size: contain;
      height: 6rem;
      width: 100%;
      margin: 4rem 0 2rem; }
    .tip-box .tip .notice-box {
      display: inline-block;
      line-height: 5rem;
      width: 15rem;
      font-size: 1.4rem;
      font-weight: bold;
      color: #fff;
      background: url("../images/prize-show-font-bg.png") no-repeat center center;
      background-size: contain; }
    .tip-box .tip .desc {
      margin-top: 3rem;
      letter-spacing: 2px;
      font-size: .9rem;
      color: #000;
      font-weight: bold; }

.footer {
  background: url("../images/bottom.png") no-repeat center 0;
  background-size: cover;
  height: 3rem;
  position: fixed;
  bottom: 0;
  width: 100%; }

.shaking {
  -webkit-animation: shake .8s 0s infinite alternate ease-in-out;
  -moz-animation: shake .8s 0s infinite alternate ease-in-out;
  -o-animation: shake .8s 0s infinite alternate ease-in-out;
  animation: shake .8s 0s infinite alternate ease-in-out; }

audio {
  display: none; }

@keyframes shake {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    transform-origin: 50% 100%; }
  33% {
    -webkit-transform: rotate(-5deg);
    transform: rotate(-5deg);
    transform-origin: 50% 100%; }
  66% {
    -webkit-transform: rotate(5deg);
    transform: rotate(5deg);
    transform-origin: 50% 100%; }
  100% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    transform-origin: 50% 100%; } }
@-webkit-keyframes shake /* Safari and Chrome */ {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    transform-origin: 50% 100%; }
  33% {
    -webkit-transform: rotate(-5deg);
    transform: rotate(-5deg);
    transform-origin: 50% 100%; }
  66% {
    -webkit-transform: rotate(5deg);
    transform: rotate(5deg);
    transform-origin: 50% 100%; }
  100% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    transform-origin: 50% 100%; } }
@media screen and (min-width: 1000px) {
  html {
    font-size: 45px; } }
@media screen and (max-width: 768px) {
  html {
    font-size: 22px; } }
@media screen and (max-width: 414px) {
  html {
    font-size: 16px; } }
@media screen and (max-width: 375px) {
  html {
    font-size: 13px; } }
@media screen and (max-width: 320px) {
  html {
    font-size: 12px; }

  .container .content-box .title {
    margin: 1rem 0 1rem; }
  .container .content-box .desc span {
    display: block; } }
